 html {
    margin: 0;
    padding: 0;
    height: 100%;
   
  } 
  
  body{
      text-align: center;
      height: 90vh;
      padding: 8%;
      margin: 0; backdrop-filter: blur(20px);
     background: black;
font-family: 'Kode Mono','sans-serif';
  }
#audio{
  padding-bottom: 5px;
  border-width: 10px;
}
.artist{
  font-family:'Kode Mono','sans-serif' ;
}
 
.controls{

  background-color: transparent;
  
}

.previous {
  background-color: #fff;
  border: 0 solid #e2e8f0;
  border-radius: 5px;
  box-sizing: border-box;
  color: #0d172a;
  cursor: pointer;
  display: inline-block;
  font-family: 'Kode Mono',"Basier circle",-apple-system,system-ui,"Segoe UI",Roboto,"Helvetica Neue",Arial,"Noto Sans",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
  font-size: 15px;
  font-weight: 600;
  line-height: 7px;
  padding: 0.5rem 0.5rem;
  text-align: center;
  text-decoration: none #0d172a solid;
  text-decoration-thickness: auto;
  transition: all .1s cubic-bezier(.4, 0, .2, 1);
  box-shadow: 0px 1px 2px rgba(166, 175, 195, 0.25);
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.previous:hover {
  background-color: #1e293b;
  color: #fff;
}

@media (min-width: 768px) {
  .previous {
    font-size: 1.125rem;
    padding: 1rem 2rem;
  }
}
.playpause {
  background-color: #fff;
  border: 0 solid #e2e8f0;
  border-radius: 5px;
  box-sizing: border-box;
  color: #0d172a;
  cursor: pointer;
  display: inline-block;
  font-family: 'Kode Mono',"Basier circle",-apple-system,system-ui,"Segoe UI",Roboto,"Helvetica Neue",Arial,"Noto Sans",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
  font-size: 15px;
  font-weight: 600;
  line-height: 7px;
  padding: 0.5rem 0.5rem;
  text-align: center;
  text-decoration: none #0d172a solid;
  text-decoration-thickness: auto;
  transition: all .1s cubic-bezier(.4, 0, .2, 1);
  box-shadow: 0px 1px 2px rgba(166, 175, 195, 0.25);
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.playpause:hover {
  background-color: #1e293b;
  color: #fff;
}

@media (min-width: 768px) {
  .playpause {
    font-size: 1.125rem;
    padding: 1rem 2rem;
  }
}

.next   {
  background-color: #fff;
  border: 0 solid #e2e8f0;
  border-radius: 5px;
  box-sizing: border-box;
  color: #0d172a;
  cursor: pointer;
  display: inline-block;
  font-family: 'Kode Mono',"Basier circle",-apple-system,system-ui,"Segoe UI",Roboto,"Helvetica Neue",Arial,"Noto Sans",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
  font-size: 15px;
  font-weight: 600;
  line-height: 7px;
  padding: 0.5rem 0.5rem;
  text-align: center;
  text-decoration: none #0d172a solid;
  text-decoration-thickness: auto;
  transition: all .1s cubic-bezier(.4, 0, .2, 1);
  box-shadow: 0px 1px 2px rgba(166, 175, 195, 0.25);
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.next:hover {
  background-color: #1e293b;
  color: #fff;
}

@media (min-width: 768px) {
  .next  {
    font-size: 1.125rem;
    padding: 1rem 2rem;
  }
}

.shuffle {
  background-color: #fff;
  border: 0 solid #e2e8f0;
  border-radius: 5px;
  box-sizing: border-box;
  color: #0d172a;
  cursor: pointer;
  display: inline-block;
  font-family:'Kode Mono', "Basier circle",-apple-system,system-ui,"Segoe UI",Roboto,"Helvetica Neue",Arial,"Noto Sans",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
  font-size: 15px;
  font-weight: 600;
  line-height: 7px;
  padding: 0.5rem 0.5rem;
  text-align: center;
  text-decoration: none #0d172a solid;
  text-decoration-thickness: auto;
  transition: all .1s cubic-bezier(.4, 0, .2, 1);
  box-shadow: 0px 1px 2px rgba(166, 175, 195, 0.25);
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  
}

.shuffle:hover {
  background-color: #1e293b;
  color: #fff;
}

@media (min-width: 768px) {
  .shuffle {
    font-size: 1.125rem;
    padding: 1rem 2rem;
  }
}
.add {
  background-color: #fff;
  border: 0 solid #e2e8f0;
  border-radius: 5px;
  box-sizing: border-box;
  color: #0d172a;
  cursor: pointer;
  display: inline-block;
  font-family:'Kode Mono', "Basier circle",-apple-system,system-ui,"Segoe UI",Roboto,"Helvetica Neue",Arial,"Noto Sans",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
  font-size: 15px;
  font-weight: 600;
  line-height: 7px;
  padding: 0.5rem 0.5rem;
  text-align: center;
  text-decoration: none #0d172a solid;
  text-decoration-thickness: auto;
  transition: all .1s cubic-bezier(.4, 0, .2, 1);
  box-shadow: 0px 1px 2px rgba(166, 175, 195, 0.25);
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}
.add:hover {
  background-color: #1e293b;
  color: #fff;
}

@media (min-width: 768px) {
  .add
   {
    font-size: 1.125rem;
    padding: 1rem 2rem;
  }
}
.artist{
  color:white;
  letter-spacing: 2px;
}
.song-title{
  color:white;
  font-weight: 200px;
  
}
.playlist{
  color:white;
}
.library{
  color:white;
}
#savePlaylist {
  position: relative;
  padding-top:  5px;
  padding-bottom: 5px;
  border-radius: 8px;
  padding-left: 5px;
  padding-right: 5px;
  border: none;
  color: #fff;
  cursor: pointer;
  background-color: #7d2ae8;
  transition: all 0.2s ease;
  font-family: 'poppins','Times New Roman', Times, serif;;
}

#savePlaylist:active {
  transform: scale(0.96);
}

#savePlaylist:before,
#savePlaylist:after {
  position: absolute;
  content: "";
  width: 150%;
  left: 50%;
  height: 100%;
  transform: translateX(-50%);
  z-index: -1000;
  background-repeat: no-repeat;
}

#savePlaylist:hover:before {
  top: -70%;
  background-image: radial-gradient(circle, #7d2ae8 20%, transparent 20%),
    radial-gradient(circle, transparent 20%, #7d2ae8 20%, transparent 30%),
    radial-gradient(circle, #7d2ae8 20%, transparent 20%),
    radial-gradient(circle, #7d2ae8 20%, transparent 20%),
    radial-gradient(circle, transparent 10%, #7d2ae8 15%, transparent 20%),
    radial-gradient(circle, #7d2ae8 20%, transparent 20%),
    radial-gradient(circle, #7d2ae8 20%, transparent 20%),
    radial-gradient(circle, #7d2ae8 20%, transparent 20%),
    radial-gradient(circle, #7d2ae8 20%, transparent 20%);
  background-size: 10% 10%, 20% 20%, 15% 15%, 20% 20%, 18% 18%, 10% 10%, 15% 15%,
    10% 10%, 18% 18%;
  background-position: 50% 120%;
  animation: greentopBubbles 0.6s ease;
}

@keyframes greentopBubbles {
  0% {
    background-position: 5% 90%, 10% 90%, 10% 90%, 15% 90%, 25% 90%, 25% 90%,
      40% 90%, 55% 90%, 70% 90%;
  }

  50% {
    background-position: 0% 80%, 0% 20%, 10% 40%, 20% 0%, 30% 30%, 22% 50%,
      50% 50%, 65% 20%, 90% 30%;
  }

  100% {
    background-position: 0% 70%, 0% 10%, 10% 30%, 20% -10%, 30% 20%, 22% 40%,
      50% 40%, 65% 10%, 90% 20%;
    background-size: 0% 0%, 0% 0%, 0% 0%, 0% 0%, 0% 0%, 0% 0%;
  }
}

#savePlaylist:hover::after {
  bottom: -70%;
  background-image: radial-gradient(circle, #7d2ae8 20%, transparent 20%),
    radial-gradient(circle, #7d2ae8 20%, transparent 20%),
    radial-gradient(circle, transparent 10%, #7d2ae8 15%, transparent 20%),
    radial-gradient(circle, #7d2ae8 20%, transparent 20%),
    radial-gradient(circle, #7d2ae8 20%, transparent 20%),
    radial-gradient(circle, #7d2ae8 20%, transparent 20%),
    radial-gradient(circle, #7d2ae8 20%, transparent 20%);
  background-size: 15% 15%, 20% 20%, 18% 18%, 20% 20%, 15% 15%, 20% 20%, 18% 18%;
  background-position: 50% 0%;
  animation: greenbottomBubbles 0.6s ease;
}

@keyframes greenbottomBubbles {
  0% {
    background-position: 10% -10%, 30% 10%, 55% -10%, 70% -10%, 85% -10%,
      70% -10%, 70% 0%;
  }

  50% {
    background-position: 0% 80%, 20% 80%, 45% 60%, 60% 100%, 75% 70%, 95% 60%,
      105% 0%;
  }

  100% {
    background-position: 0% 90%, 20% 90%, 45% 70%, 60% 110%, 75% 80%, 95% 70%,
      110% 10%;
    background-size: 0% 0%, 0% 0%, 0% 0%, 0% 0%, 0% 0%, 0% 0%;
  }
}
/* Clear Button */
#clearPlaylist{
  padding:10px;
  background-color: #7d2ae8;
  padding-top:  8px;
  padding-bottom: 8px;
  padding-left: 5px;
  padding-right: 5px;
  color:white;
  border:none;
  font-weight: 700;
  letter-spacing: 1px;
  border-radius: 8px;
  cursor:pointer;

}
@media (max-width:750px)
{
  .error h1{
      font-size: 2rem;

  }
  .error h2{
      font-size:1rem;

  }
}
#clearPlaylist {
  transition: .3s;
}
#clearPlaylist:hover {
  animation: pulse 1s infinite;
  transition: .3s;

}
@keyframes pulse {
  0% {
    transform: scale(1);
  }
  70% {
    transform: scale(.9);
  }
    100% {
    transform: scale(1);
  }
}

#playlist{
  list-style-type: none;
}
#musicLibrary{
  
  background-color: black;
  color: white;
  cursor: pointer;
  display:inline-block;
  

  
}